.presentation {       
    color: #fff;
    margin-left: 8em;
    margin-top: 8em;

}
.presentation h1{
    font-size: 40px;
    margin-bottom: 25px;
}
.presentation p{
    font-size: 25px;
    margin-left: 60px;
    margin-top: 1em;
}

